.item_details {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

    .item_details > div {
        flex: 1;
    }

    .item_details h3 {
        font-size: 24px;
        font-weight: 600;
        color: #333;
        margin-bottom: 10px;
    }

    .item_details p {
        font-size: 18px;
        color: #666;
        margin-bottom: 10px;
    }

    .item_details button {
        font-size: 18px;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .item_details button:hover {
            background-color: #0056b3;
        }
