@inject BlazorService BlazorService
@page "/product/{Id:int}"

<div class="item_details">
    <ImageSlider Images="product.Images" />
    <div>
        <h3>@product.Name</h3>
        <p>@product.Category.Name</p>
        <p>@product.Price.ToString() UAH</p>
        <button class="btn btn-primary">Добавить в корзину</button>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private Product product { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Product v = new Product();
        product = BlazorService.GetItemById(Id);
    }
}
