.nav-scrollable {
    display: none;
    grid-area: menu;
}

.open {
    display: flex;
}

.navbar {
    display: flex;
    place-items: center;
    flex-direction: column;
}
    .hel {
        margin-right: 20px;
    }
    .hel:last-child {
        margin-right: 0;
    }

